:root{
    --color:rgb(16, 202, 183);
}
body{
    font-family: "work sans";
}
.container{
    padding:0px 20px 0px 20px ;
    max-width: 1170px;
    margin: auto;
}
header .container {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 24px;
    width: 60px;
}
.intro{
    background-image: url(../IMG/landing.jpg);
    height: calc(100vh - 64px);
    background-size: cover;
    position: relative;
}
.intro div{
    height: fit-content;
    position: absolute;
    width: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.intro h1{
    margin:0px;
    color: var(--color);
    text-transform: capitalize;
    font-size: 50px;
    text-align: center;
}
.intro p{
    text-align: center;
    font-size: 19px;
    line-height: 1.8;  
}
.features{
    background-color: rgb(246, 246, 246);
    padding: 60px 0px;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    text-align: center;
}
.features .container i {
    color: var(--color);
}
.features .container h3{
    font-size: 18.72px;
    font-weight: 800;
    margin: 30px 0px;
}
.features .container p{
    font-size: 17px;
    color: #777777;
    line-height: 1.8;
}
.features .container div{
    padding: 20px 10px 20px 30px;
    padding: 20px
}
.features .container div:first-child{
    padding: 20px 10px 20px 30px;
}
.features .container div:last-child{
    padding: 20px 30px 20px 10px;
}
.header{
    text-align: center;
    margin: 60px 0px 100px; 
}
.header h2 {
    margin-bottom: 60PX;
    font-size: 100px;
    color: #ebeced;
    text-transform: capitalize;
    letter-spacing: -3PX;
    font-weight: 800;
    margin: 0px;
}
.header p {
    margin-top: -30px;
    font-size: 20px;
    color: rgb(147,121,121);
}

.portfolio {
    background-color: rgb(246, 246, 246);
    padding-bottom: 60px;
}

.portfolio .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px , 1fr));
    gap: 20px;
}

.portfolio .container img{
    width: 360px;
}
.portfolio .container div{
    width: 360px;
    background-color: white;
}
.portfolio .container h3{
    padding-left: 20px;
}
.portfolio .container p{
    padding: 0px 20px 20px 20px ; 
    color: rgb(119, 119, 119);
}

.footer {
    background-color: #2c4755;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--color);
}


.us {
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: rgb(235, 236, 237);
    display: grid;
    align-items: center;
    text-transform: uppercase;
}

.us a{
    text-decoration: none;
    color: var(--color);
}

@media (max-width: 1399.98px) {} 

@media (max-width: 1199.98px) {
    .container{
        max-width: 970px;
    }
}

@media (max-width: 991.98px) {
    .container{
        max-width: 750px;
    }

}

@media (max-width: 767.98px) {
    .header h2 {
        font-size: 60px;
    }
    
    .header p {
        font-size: 20px;
        margin-top: -20px;
    }

}
@media (max-width: 575.98px) {}

    .services .container {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        column-gap: 30px;
        padding-left: 49px;
        margin-bottom: 80px;
    }
    
    .services i {
        color: var(--color);
        margin-right: 28px;
    }
    .services .container h3 {
        margin-top: 0px;
    }

    .services .container p {
        color: rgb(104, 100, 110);
        font-weight: 300;
        line-height: 1.6;
    }
    
    
    
    
    
    
    .services .container .sec1 , .sec2 {
        display: grid ;
        row-gap: 30px ;
    }
    .services .container .sec2 .des div , .dev div {
        min-height: 158.6;
    }
    
    .services .container .grh div , .uix div , .des div , .dev div{
        max-width: 300px;
    }
    .services .container .grh , .uix , .des , .dev {
        display: flex;
        justify-content: space-between;
        max-width: 360px;
    }
    
    .services .container {
        margin-bottom: 30px;
    }
    
    
    .services .container .img {
        text-align: center;
        position: relative ;
    }
    
    .serv-img{
        width: 260px;
    }
    .img::after{
        content: "";
        width: 100px;
        height:calc(100% + 100px) ;
        background-color: rgb(44, 71, 85);
        position: absolute;
        top: -50px;
        right: 0px;
        z-index: -1;
    }
    
    @media (max-width:1069px) {
        .img {
            display: none;
        }
    }

















